body {
    background: #f9f9f9;
}

.header-container {
    position: absolute;
}

.main-container {
    align-items: flex-start;
    background: transparent;
    display: flex;
    flex-flow: column;
    position: relative;
    top: 4em;
}

.main-container .data {
    display: flex;
    flex-basis: 40%;
    flex-flow: column;
    justify-content: center;
    margin: 0 1em;
}

.main-container .data svg {
    background: white;
    height: 20em;
    margin: 1em 0;
}

section.messages {
    display: flex;
    flex-basis: 60%;
    flex-flow: column;
    margin: 0 1em;
}

h3 {    
    font-family: 'Livvic', Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: lighter;
    text-align: center;
}

section.messages article {
    background: #fff;
    border-radius: .3em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-flow: column nowrap;
    margin: .3em 0;
    padding: 1em 0;
}

section.messages blockquote {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

.graph-info {
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    font-weight: lighter;   
}

div.company-name {
    padding: 1em 1em 0 0;
    text-align: right;
}

section.messages article .company-name {
    /* csslint ignore:start */    
    border-top: 2px solid #e7e7e7;
    /* csslint ignore:end */    
    height: 20px;
}

.bar-chart {
    align-items: flex-end;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.page-end {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    top: 4em;
    width: 100%;
}

.copyright {
    font-size: .8em;
    font-weight: bold;
}

@media (min-width: 768px) {
    .main-container {
        flex-flow: row;
    }
}

