.main-container {
    min-height: 80vh;
    position: relative;
}

.contact-form {
    background: #880e4f;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 20vh;
    padding-bottom: 2em;
    position: relative;
    z-index: 5;
}
.heading-four {
    color: white;
    font-family: 'Livvic', Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: .4em 1em;
    text-align: center;
}
.contact-form form {
    display: flex;
    flex-flow: column;
}
/* csslint ignore:start */
.contact-form form > * {
    border-radius: .1em;
    border: none;
    font-family: 'Livvic', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin: .2em 1em;
    padding: .3em;
}
/* csslint ignore:end */

.contact-form form input[type="submit"] {
    align-self: flex-start;
    cursor: pointer;
    padding: .3em;
    transition: 0.3s ease all;
}

.contact-form form input[type="submit"]:hover {
    background: #f9f9f9;
    box-shadow: 0 0 .2em .2em rgba(0,0,0,0.2);
}

.page-end {
    background: #ad1457;
    display: flex;
    position: relative;
    top: unset;
}

@media (min-width: 768px) {
    .contact-form {
        background: #880e4f;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        min-height: 20vh;
        position: relative;
        z-index: 5;
    }
    .heading-four {
        color: white;
        font-family: 'Livvic', Arial, Helvetica, sans-serif;
        font-weight: lighter;
        padding: .4em 1em;
        text-align: center;
    }
    
    .contact-form form {
        display: flex;
        flex-flow: column;
        /* csslint ignore:start */
        justify-content: space-evenly;
        /* csslint ignore:end */
    }

    /* csslint ignore:start */
    .contact-form form * {
        border: none;
        border-radius: .1em;
        font-family: 'Livvic', Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        margin: .2em 1em;
        padding: .5em;
    }
    /* csslint ignore:end */   
}