body {
    background: #f9f9f9;
    font-family: 'Livvic', Arial, Helvetica, sans-serif;
}

main.gallery-main {
    display: flex;
    flex-flow: column;
    width: 100%;
}

main.gallery-main .we-do {
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("https://picsum.photos/1600/1200?random=1&blur=3");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: row;
    height: 20em;
    justify-content: center;
    width: 100%;
}

h2 {
    color: white;
    font-size: 2.5em;
    text-align: center;
}

section.grid-container .one-img img {
    height: 100%;
    object-fit: cover;
    width: 100%;

}

.page-end {
    display: flex;
    flex-flow: column nowrap;
    position: unset;
    top: unset;
    width: 100%;
}

@media (max-width: 767px) {
    section.grid-container {
        display: flex;
        flex-flow: column;
    }

    section.one-img {
        height: 20em;
    }
    
    .l1-container, .l2-container, .l3-container {
        display: flex;
        flex-flow: column nowrap;
        flex-shrink: 0;
    }
}

@media (min-width: 768px) {
    section.grid-container {
        display: flex;
        flex-flow: column nowrap;
    }
    
    .grid-container .l1-container {
        display: flex;
        flex-basis: 100%;
        flex-flow: row nowrap;
    }
    
    .grid-container > .l1-container:first-child .l2-container:first-child {
        display: flex;
        flex-basis: 75%;
        flex-shrink: 0;
        flex-wrap: nowrap;
    }
    
    .grid-container > .l1-container:first-child .l2-container:nth-child(2) {
        display: flex;
        flex-basis: 25%;
        flex-flow: column nowrap;
        flex-shrink: 0;
    }
    
    .grid-container > .l1-container:first-child .l2-container:nth-child(2) .one-img {
        height: 12em;
    }
    
    .grid-container > .l1-container:first-child .l2-container:first-child .one-img {
        flex-basis: 100%;
        height: 24em;
    }
    
    .grid-container > .l1-container:nth-child(2) {
        display: flex;
        flex-basis: 100%;
        flex-flow: row nowrap;
    }
    
    .grid-container > .l1-container:nth-child(2) .one-img {
        flex-basis: 33.33%;
        height: 15em;
    }
    
    .grid-container > .l1-container:nth-child(3) {
        display: flex;
        flex-basis: 100%;
        flex-flow: row nowrap;
    }
    
    .grid-container > .l1-container:nth-child(3) > .l2-container:first-child {
        display: flex;
        flex-basis: 50%;
        flex-flow: column nowrap;
    }
    
    .grid-container > .l1-container:nth-child(3) > .l2-container:first-child  .l3-container{
        display: flex;
        flex-basis: 100%;
        flex-flow: row nowrap;
    }
    
    .grid-container > .l1-container:nth-child(3) > .l2-container:first-child  .l3-container .one-img {
        flex-basis: 50%;
        height: 13em;
        
    }
    
    .grid-container > .l1-container:nth-child(3) > .l2-container:nth-child(2) {
        display: flex;
        flex-basis: 50%;
        flex-flow: column nowrap;
    }
    .grid-container > .l1-container:nth-child(3) > .l2-container:nth-child(2) .one-img {
        flex-basis: 100%;
        height: 10em;
    }
}