body {
    background: url("https://picsum.photos/1600/1200?random=1&blur=4") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Livvic', Helvetica, sans-serif;
    height: 100%;
    margin: 0;
}

a {
    color: #000;
}

.header-container {
    background-color: #ffde03;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.header-container ul {
    background-color: transparent;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.header-container li a {
    display: block;
    padding: 1em 1em;
    text-decoration: none;
    transition: all 0.3s ease;
}

.header-container li a:hover,
.header-container .check-collapse:hover {
    background-color: #b49c00;
}

.header-container .title-container {
    display: block;
    float: left;
    font-size: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

.header-container .menu {
    clear: both;
    max-height: 0;
    transition: all .2s ease-out;
}

.header-container .check-label {
    cursor: pointer;
    float: right;
    padding: 2em 2em;
    position: relative;
    transition: 0.3s ease background;
}

.header-container .check-label .navicon {
    background: transparent;
    display: block;
    height: .2em;
    position: relative;
    transition: .3s ease all;
    width: 1em;
}

.header-container .check-label .navicon::before,
.header-container .check-label .navicon::after {
    background: #000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: .3s ease all;
    width: 100%;
}

.header-container .check-label .navicon::before {
    top: .2em;
}

.header-container .check-label .navicon::after {
    top: -.2em;
}

.header-container .check-collapse {
    display: none;
}

.header-container .check-collapse:checked ~ .menu {
    max-height: 20em;
}

.header-container .check-collapse:checked ~ .check-label {
    background: #aa8801;
}

.header-container .check-collapse:checked ~ ul {
    background: #ffde03;
}

.header-container .check-collapse:checked ~ .check-label .navicon {
    background: transparent;
}

.header-container .check-collapse:checked ~ .check-label .navicon::before {
    transform: rotate(-45deg);
}

.header-container .check-collapse:checked ~ .check-label .navicon::after {
    transform: rotate(45deg);
}

.header-container .check-collapse:checked ~ .check-label .navicon::before,
.header-container .check-collapse:checked ~ .check-label .navicon::after {
    top: 0;
}

.main-container {
    align-items: center;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.main-container em {
    color: aliceblue;
    font-family: 'Livvic', Helvetica, Arial, sans-serif;
    font-size: 3em;
    font-weight: 200;
    padding: 0 1em;
    text-align: center;
}

.page-end {
    background: #ffde03;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    position: absolute;
    top: 100vh;
    width: 100%;
}

h3 {
    font-size: .8em;
    padding: .4em .4em;
    text-align: center;
}

@media (min-width: 768px) {
    .header-container li {
        float: left;
    }
    .header-container li a {
        padding: 1.6em 1.6em;
    }
    .header-container .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header-container .check-label {
        display: none;
    }
}